<div>
normalize: {{calibrate.normalizedCoordinates}} <br>
window: {{calibrate.windowCoordinates}}
</div>
<div id="calInstructions">
<p>Touch target 1 and press space at the same time</p>
</div>
<img class="crosshairs" id="cross1" src="images/crosshairs.png" />
<img class="crosshairs" id="cross2" src="images/crosshairs.png" />
<img class="crosshairs" id="cross3" src="images/crosshairs.png" />
<img class="crosshairs" id="cross4" src="images/crosshairs.png" />
<img class="crosshairs" id="cross5" src="images/crosshairs.png" />
<img class="crosshairs" id="cross6" src="images/crosshairs.png" />
<img class="crosshairs" id="cross7" src="images/crosshairs.png" />
<img class="crosshairs" id="cross8" src="images/crosshairs.png" />
<img class="crosshairs" id="cross9" src="images/crosshairs.png" />
<p>{{calibrate.caliCounter}}</p>