<div class="crosshairs">
    <img id="cross1" src="images/crosshairs.png" />
    <img id="cross2" src="images/crosshairs.png" />
    <img id="cross3" src="images/crosshairs.png" />
</div>

<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
Leap: {{calibrate.leapCoordinates[0]}} <br>
normalize: {{calibrate.normalizedCoordinates[0]}} <br>
    <br>
    <br>
Leap: {{calibrate.leapCoordinates[1]}} <br>
normalize: {{calibrate.normalizedCoordinates[1]}} <br>
    <br>
    <br>
Leap: {{calibrate.leapCoordinates[2]}} <br>
normalize: {{calibrate.normalizedCoordinates[2]}} <br>
</div>
<div id="calInstructions">
<p>Touch target 1 and press space at the same time</p>
</div>


<p>{{calibrate.caliCounter}}</p>