
<div class="pianoDiv">
    <img class="piano" src="images/state0.png">
<div>
<br>
<div class="row">
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone1}">AM Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone2}">Drum Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone3}">Duo Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone4}">Instrument</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone5}">Mono Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone6}">Poly Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone7}">Sample</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone8}">Simple Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone9}">FM Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone10}">Pluck Synth</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone11}">Simpe FM</div>
    <div class="col-xs-1 boxed" ng-class="{filled: play.tone12}">Noice Synth</div>
</div>
