
<div id="calInstructions">
<p>Touch target 1 and press space at the same time</p>
</div>
<img class="crosshairs" id="cross1" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross2" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross3" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross4" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross5" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross6" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross7" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross8" src="../img/crosshairs.png" />
<img class="crosshairs" id="cross9" src="../img/crosshairs.png" />
<p>{{write.caliCounter}}</p>