<!doctype html>
<!--absoulte value for post to php-->
<html lang="en" ng-app="writeModule">
<head>
<meta charset="UTF-8">
    
<title>Leap Motion Hand Writing</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    
    <script src="library/angular.js" type="text/javascript"></script>
    <script src="library/angular-route.min.js" type="text/javascript"></script>
    <script src="library/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js"></script>
    <script src="javascripts/play.js" type="text/javascript"></script>
    
    <script src="//js.leapmotion.com/leap-0.6.3.js"></script>
    <script src="//js.leapmotion.com/leap-plugins-0.1.8.js"></script>
    
</head>

<body>
   

    
<main ng-view></main>
</body>
</html>