body {
  padding-top: 70px;
  margin-left: 30px;
  width: 95%; }

.center {
  text-align: center; }

.grey {
  background-color: gainsboro; }

.picked {
  background-color: lightblue; }

.sectionTitle {
  font-size: 24px; }

.saveButton {
  width: 100%;
  margin-top: 20px; }

.orders-selectCustomer {
  padding-bottom: 20px; }
  .orders-selectCustomer .orders-customerListContainer {
    border: 2px solid black;
    height: 200px;
    overflow-y: auto;
    text-align: center; }
    .orders-selectCustomer .orders-customerListContainer .orders-customerList:hover {
      background-color: darkgray; }

.orders-selectOrder {
  padding-top: 20px; }
  .orders-selectOrder .orders-ledgerHeader {
    display: flex;
    justify-content: center;
    width: 74% !important; }
    .orders-selectOrder .orders-ledgerHeader div {
      font-size: 120%;
      float: left;
      width: 25%;
      text-align: center;
      align-self: center; }
  .orders-selectOrder .orders-orderContainer {
    border: 2px solid black;
    height: 200px;
    overflow-y: auto; }
    .orders-selectOrder .orders-orderContainer .orders-orderList {
      display: flex;
      justify-content: center; }
      .orders-selectOrder .orders-orderContainer .orders-orderList div {
        border-right: 1px solid black;
        border-left: 1px solid black;
        float: left;
        width: 25%;
        text-align: center;
        align-self: center; }
      .orders-selectOrder .orders-orderContainer .orders-orderList:hover {
        background-color: darkgray; }
  .orders-selectOrder .orders-orderOptions {
    text-align: center; }
    .orders-selectOrder .orders-orderOptions button {
      margin-bottom: 10px; }

.orders-orderInfo {
  padding-top: 20px;
  padding-left: 3%;
  width: 100%; }
  .orders-orderInfo .orders-orderInfoEntry {
    border: 2px solid black;
    height: 100%;
    overflow-y: auto; }
    .orders-orderInfo .orders-orderInfoEntry input {
      width: 100%; }
    .orders-orderInfo .orders-orderInfoEntry .orders-checkbox {
      display: block;
      padding-left: 15px;
      text-indent: -15px; }
      .orders-orderInfo .orders-orderInfoEntry .orders-checkbox input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden; }
  .orders-orderInfo .orders-orderInfoOptions {
    text-align: center; }
    .orders-orderInfo .orders-orderInfoOptions button {
      margin-bottom: 10px; }

.orders-selectJob {
  padding-top: 20px; }
  .orders-selectJob .orders-jobContainer {
    border: 2px solid black;
    height: 200px;
    overflow-y: auto; }
    .orders-selectJob .orders-jobContainer .orders-jobList {
      display: flex;
      justify-content: center; }
      .orders-selectJob .orders-jobContainer .orders-jobList:hover {
        background-color: darkgray; }
      .orders-selectJob .orders-jobContainer .orders-jobList div {
        align-self: center; }
  .orders-selectJob .orders-jobOptions {
    text-align: center; }
    .orders-selectJob .orders-jobOptions button {
      margin-bottom: 10px; }

.orders-jobInfo {
  padding-top: 20px;
  padding-left: 3%;
  width: 100%; }
  .orders-jobInfo .orders-jobInfoEntry {
    border: 2px solid black;
    height: 100%;
    overflow-y: auto; }
    .orders-jobInfo .orders-jobInfoEntry input {
      width: 100%; }
  .orders-jobInfo .orders-jobInfoOptions {
    text-align: center; }
    .orders-jobInfo .orders-jobInfoOptions button {
      margin-bottom: 10px; }

.orders-checkbox2 input {
  width: 40px !important; }

.orders-checkbox3 {
  width: 40px !important; }

.customers-selectCustomer {
  padding-bottom: 20px;
  text-align: center; }
  .customers-selectCustomer .customers-customerListContainer {
    border: 2px solid black;
    height: 200px;
    overflow-y: auto; }
    .customers-selectCustomer .customers-customerListContainer .customers-customerList:hover {
      background-color: darkgray; }
  .customers-selectCustomer .customers-customerListOptions button {
    margin-bottom: 10px; }

.customers-customerInfo {
  padding-left: 20px;
  padding-right: 20px; }
  .customers-customerInfo .customers-customerInfoEntry {
    border: 2px solid black;
    height: 350px;
    overflow-y: auto; }
    .customers-customerInfo .customers-customerInfoEntry input {
      width: 100%; }
    .customers-customerInfo .customers-customerInfoEntry textarea {
      width: 100%; }

.printOrderNo {
  padding-top: 60px; }

.printBorder {
  border: 1px solid black; }

h2.no-span {
  padding-top: 10px;
  display: table;
  white-space: nowrap; }
  h2.no-span:before, h2.no-span:after {
    border-top: 5px groove black;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  h2.no-span:before {
    right: 1.5%; }
  h2.no-span:after {
    left: 1.5%; }

/*# sourceMappingURL=style.css.map */
